.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;

}


.cajaLista {
 width: 68%;
  max-width: 600px;
    border: black 10px inset;
}

.container-lista {
  width: 100%;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}


.container-lista ul {
  list-style: none;
}

.container-lista img {
  width: 128%;
}

.container-vistaprevia {
  padding: 20px;
  height: 500px;
  border: black 10px inset;
  width: 20%;
  background-color: #9090a8;
  
  
}


.vistaprevia-foto {
  background-color: #707078;
  width: 100%;
}

.container-paginacion {
  width: 100%;
  display: flex;
  justify-content: space-between;

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
